page-materi {

.navbar-title{
    color:white;

    
}
    .img-thumbnail img{
        border-radius: 50px;
    }
    .button-lihat{
        padding: 7px;
        background: linear-gradient(to right, #67a1f7 0%,#67a1f7 100%);
        color: white;
        border-radius: 15px;
    }

    .bab-materi{
    margin-bottom:15px;
    }
}
